@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200;300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  gap: 15px;
}
.item {
  height: 55px;
  width: 55px;
  background-color: red;
}

@media (max-width: 570px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 55px;
    margin-left: 7rem;
  }
  .item {
    height: 105px;
    width: 255px;
    background-color: green;
  }
}
