@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200;300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.item {
  height: 50px;
  width: 50px;
  font-size: 52px;
}
.Menu {
  display: block;
}
.Close {
  font-size: 44px;
  margin-left: 180px;
}
.Menu:hover,
.Close:hover,
.toggle:hover {
  cursor: pointer;
}

.Wrapper {
  background-color: rgba(128, 128, 128, 0.379);
  height: 111vh;
  width: 17vw;
  position: absolute;
  top: 0;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 28%);
}

.down-icon {
  font-size: 21px;
}
/* .wrapper-item {
  margin-left: 20px;
} */

.itemvalue {
  margin-left: 30px;
  list-style: none;
  transition: all 0.3s;
}
.rotate {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item-1 {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 25px;
}
.home-text {
  font-size: 35px;
  margin-left: 11px;
}
.icon-home {
  font-size: 35px;
}
.icon-down,
.icon-down_1 {
  font-size: 35px;
  margin-left: 15px;
}
.toggle-wrapper,
.toggle_1-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 51px;
  font-size: 35px;
}
.home-wrapper:hover,
.home-wrapper_1:hover {
  background-color: rgba(128, 128, 128, 0.711);
  padding: 1px;
  transition: all 0.3s;
  cursor: pointer;
}
.display {
  display: none;
}
.icon-down-1 {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.icon-down-2 {
  transform: rotate(0deg);
  transition: all 0.3s;
}
.home-wrapper_1,
.home-wrapper {
  margin-top: 15px;
}
.check {
  position: relative;
  font-size: 5rem;
  margin-left: 15px;
}
.check:hover {
  cursor: pointer;
}
.check::after {
  content: '';
  position: absolute;
  background-color: blueviolet;
  width: 100%;
  transform: scaleX(0);
  height: 1rem;
  top: 7rem;
  left: 0px;
  transform-origin: center;
  transition: transform 0.3s;
}
.check:hover:after {
  transform: scaleX(1);
  /* cursor: pointer; */
  /* width: 100%; */
  /* transform: translateX(15px); */
}
.container {
  display: flex;
  justify-content: space-between;
}
.item1 {
  height: 50px;
  width: 50px;
  background-color: brown;
}
.item2 {
  flex: 0.99;
  height: 50px;
  width: 50px;
  background-color: brown;
}
